extends ../layout2

block header
    h3 Insert Events By Grammar
    div(class="w3-bar w3-grey w3-large")
        a(href= url + "events" class="w3-button w3-grey w3-bar-item") Back to Agenda Menu
        a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu

block body
    if errors!=""
        center
            div(class="w3-panel w3-red")
                for e in errors
                    h3= e
    form.w3-container(method="POST" action="/events/grammar")
        label Grammar:
        textarea(style="width:100%" name="grammar" rows="10" required) #{input}
        input.w3-btn.w3-grey(type="submit" value="Send")
    br