extends ../layout2

block scripts
    script(src="/javascripts/event.js")

block header
    h3 New Event
    div(class="w3-bar w3-grey w3-large")
        a(href= url + "events" class="w3-button w3-grey w3-bar-item") Back to Events Menu
        a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu

block body
    form.w3-container(id="formNew" method="POST" action="/events" onsubmit="return validateForm(\"formNew\")")
        input.w3-input(type="text" name="title" placeholder="Title" required)
        label Description
        textarea(style="width:100%" name="desc" rows="3")
        input.w3-input(type="text" name="local" placeholder="Local")
        label Start Date
        input.w3-input(type="date" name="startDate" required)
        label Start Hour
        input.w3-input(type="time" name="startHour" required)
        label End Date
        input.w3-input(type="date" name="endDate" required)
        label End Hour
        input.w3-input(type="time" name="endHour" required)
        br
        input.w3-btn.w3-grey(type="submit" value="Create")
    br