extends layout2

block scripts
    script(src="/javascripts/events.js")

block header
    h1 Agenda

block body
    h3 Choose a day
    form.w3-container
        input.w3-input-w3-border.w3-grey(id="date" type="date")
    br
    h3 Events 
    .w3-container
        ul(id="eventsDay")
            div(id="l")
    br
    h3 Add an Event
    a(href=url + "events/event" class="w3-button w3-grey") New Event
    br
    br