doctype html
html
  head
    title iBanda
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='shortcut icon' href='images/favicon.ico' type='image/icon')
    script(src="/javascripts/jquery-3.3.1.min.js")
    block scripts
  body
    block content