extends ../layout2

block scripts
    script(src="/javascripts/articles.js")

block header
    h1 News
    table
        tr
            td(style="width:60%")
                div(class="w3-bar w3-grey w3-large")
                    if userType=="1"
                        a(href=url + "articles/article" class="w3-button w3-grey w3-bar-item") New Article
                    a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu
            td
                form.w3-container.w3-xlarge.w3-grey
                    label.w3-large Choose a day to filter News:  
                    input.w3-input-border(id="date" type="date")

block body
    ul.w3-ul.w3-large.w3-hoverable(id="news")
        div(id="l")
    br