extends ../layout2

block scripts
    script(src="/javascripts/article.js")

block header
    h3 New Article
    div(class="w3-bar w3-grey w3-large")
        a(href= url + "articles" class="w3-button w3-grey w3-bar-item") Back to News Menu
        a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu

block body
    form.w3-container(id="formNew" method="POST" action="/articles")
        input.w3-input(type="text" name="title" placeholder="Title" required)
        input.w3-input(type="text" name="subtitle" placeholder="Subtitle")
        label Date
        input.w3-input(id="date" type="date" name="date" required)
        label Authors
        <fieldset id="authorsZone">
            input.w3-btn.w3-grey(id="addAuthor" type="button" value="Add Author")
            span 
            input.w3-btn.w3-grey(id="removeAuthor" type="button" value="Remove Author")
            br
        </fieldset>
        label Body
        textarea(style="width:100%" name="body" rows="10" required)
        br
        label Topics
        <fieldset id="topicsZone">
            input.w3-btn.w3-grey(id="addTopic" type="button" value="Add Topic")
            span 
            input.w3-btn.w3-grey(id="removeTopic" type="button" value="Remove Topic")
            br
        </fieldset>        
        br
        input(type="hidden" name="visible" value="true")
        input.w3-btn.w3-grey(type="submit" value="Create")
    br