extends ../layout2

block header
    h3 New Entry
    div(class="w3-bar w3-grey w3-large")
        a(href= url + "entries" class="w3-button w3-grey w3-bar-item") Back to Support Library Menu
        a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu

block body
    if error!=""
        center
            div(class="w3-panel w3-red")
                h3= error
    form.w3-container(method="POST" action="/entries" enctype="multipart/form-data")
        br
        label PDF:
        input.w3-input(type="file", name="file" accept="application/pdf,.pdf" required) 
        input.w3-input(type="text" name="desc" placeholder="Description" required)
        br
        input.w3-btn.w3-grey(type="submit" value="Create")
    br