extends ../layout2

block header
    h1 Ingestion
    div(class="w3-bar w3-grey w3-large")
        a(href= url + "pieces" class="w3-button w3-grey w3-bar-item") Back to Pieces Menu
        a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu

block body
    if error!=""
        center
            div(class="w3-panel w3-red")
                h3= error
    h3 Ingestion of SIP file
    form.w3-form(action="/pieces", method="POST" enctype="multipart/form-data")
        label SIP File (select one ZIP file)
        input.w3-input(type="file", name="file" accept="application/x-compressed,application/x-zip-compressed,application/zip,multipart/x-zip,.zip")
        br
        input.w3-btn.w3-grey(type="submit", value="Send")
    br